# Lokaal (npm run dev)
VITE_POCKETBASE_IP=127.0.0.1
VITE_POCKETBASE_PUBLIC_URL=http://127.0.0.1:8090
ORIGIN=http://localhost:3000

# Docker / VPS
# PB_URL=http://pocketbase:8090
# ORIGIN=https://jouwdomein.nl
# VITE_POCKETBASE_PUBLIC_URL=http://pocketbase:8090
